@using BW_Clinica_Veterinaria.Models.Entity
@model BW_Clinica_Veterinaria.Dto.ProdottoDto


@{
    ViewData["Title"] = "Crea Nuovo Prodotto";
    List<Utilizzo> utilizzi = ViewBag.Utilizzi;
    List<Cassetto> cassetti = ViewBag.Cassetti;
    List<Ditta> ditte = ViewBag.Ditte;
}

<h1>Crea Nuovo Prodotto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-FPA" asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="title-FPA">Aggiungi Prodotto</p>
            <label class="label-FPA">
                <span>Nome</span>
                <input asp-for="Nome" class="input-FPA" type="text" placeholder="" required="">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </label>

            <label class="label-FPA">
                <span>Tipo</span>
                <input asp-for="Tipo" class="input-FPA" type="text" placeholder="" required="">
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </label>

            <label class="label-FPA">
                <label asp-for="IdDitta" class="control-label"></label>
                <select asp-for="IdDitta" class="form-select input-FPA">
                    @foreach (var d in ditte)
                    {
                        <option value="@d.IdDitta">@d.Nome</option>
                    }
                </select>
                <span asp-validation-for="IdDitta" class="text-danger"></span>
            </label>


            <label class="label-FPA">
                <label asp-for="IdCassetto" class="control-label"></label>
                <select asp-for="IdCassetto" class="form-select input-FPA">
                    @foreach (var c in cassetti)
                    {
                        <option value="@c.IdCassetto">Armadietto @c.NumeroArmadietto, cassetto @c.NumeroCassetto</option>
                    }
                </select>
                <span asp-validation-for="IdCassetto" class="text-danger"></span>
            </label>

            <div class="form-group container-fluid">
                <div class="row">
                    @foreach (var utilizzo in utilizzi)
                    {
                        <div class="form-check col-6">
                            <input class="form-check-input" type="checkbox" name="utilizziId" value="@utilizzo.IdUtilizzo" />
                            <label class="form-check-label">@utilizzo.Descrizione</label>
                        </div>
                    }
                </div>
            </div>

            <input type="submit" value="Crea" class="btn btn-primary submit-FPA fw-bold" />
            <a asp-action="Index" class="btn btn-secondary fw-bold border-button">Torna alla home</a>
        </form>
    </div>
</div>