@using BW_Clinica_Veterinaria.Models.Entity
@model BW_Clinica_Veterinaria.Dto.ProdottoDto


@{
    ViewData["Title"] = "Crea Nuovo Prodotto";
    List<Utilizzo> utilizzi = ViewBag.Utilizzi;
    List<Cassetto> cassetti = ViewBag.Cassetti;
    List<Ditta> ditte = ViewBag.Ditte;
}

<h1>Crea Nuovo Prodotto</h1>

<h4>Prodotto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDitta" class="control-label"></label>
                <select asp-for="IdDitta" class="form-select input-FPA">
                    @foreach (var d in ditte)
                    {
                        <option value="@d.IdDitta">@d.Nome</option>
                    }
                </select>
                <span asp-validation-for="IdDitta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCassetto" class="control-label"></label>
                <select asp-for="IdCassetto" class="form-select input-FPA">
                    @foreach (var c in cassetti)
                    {
                        <option value="@c.IdCassetto">Armadietto @c.NumeroArmadietto, cassetto @c.NumeroCassetto</option>
                    }
                </select>
                <span asp-validation-for="IdCassetto" class="text-danger"></span>
            </div>
            <div class="form-group container-fluid">
                <div class="row">
                    @foreach (var utilizzo in utilizzi)
                    {
                        <div class="form-check col-6">
                            <input class="form-check-input" type="checkbox" name="utilizziId" value="@utilizzo.IdUtilizzo" />
                            <label class="form-check-label">@utilizzo.Descrizione</label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Indietro alla Lista</a>
</div>
