@model IEnumerable<BW_Clinica_Veterinaria.Models.Entity.Prodotto>

@{
    ViewData["Title"] = "Prodotti";
}

<h1>Prodotti</h1>

<div class="row mb-3">
    <div class="col-md-6">
        <form asp-action="GetNomeProdotto" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cerca per nome..." name="nome" />
                <button class="btn btn-vet-dettagli me-3" type="submit">
                    <i class="fas fa-search"></i> Cerca
                </button>
                <a asp-action="Index" class="btn btn-secondary ml-2">
                    <i class="fas fa-redo"></i> Azzera
                </a>
            </div>
        </form>
    </div>
</div>


<p>
    <a asp-action="Create" class="btn btn-vet-dettagli">Crea Nuovo Prodotto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ditta.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cassetto.NumeroArmadietto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cassetto.NumeroCassetto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ditta.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cassetto.NumeroArmadietto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cassetto.NumeroCassetto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProdotto" class="btn btn-vet btn-vet-modifica">Modifica</a>
                    <a asp-action="Details" asp-route-id="@item.IdProdotto" class="btn btn-vet btn-vet-dettagli">Dettagli</a>
                    <a asp-action="Delete" asp-route-id="@item.IdProdotto" class="btn btn-vet btn-vet-elimina">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
