@model IEnumerable<BW_Clinica_Veterinaria.Models.Entity.Proprietario>

@{
    ViewData["Title"] = "Lista Proprietari";
}

<h1 class="text-center">Lista Proprietari</h1>

<p>
    <a asp-action="Create" class="btn btn-vet btn-vet-dettagli">Crea Nuovo</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.CodiceFiscale)</th>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Cognome)</th>
                <th>@Html.DisplayNameFor(model => model.NumeroTelefono)</th>
                <th class="text-center">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CodiceFiscale)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cognome)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumeroTelefono)</td>
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.CodiceFiscale" class="btn btn-vet btn-vet-modifica">Modifica</a>
                    <a asp-action="Details" asp-route-id="@item.CodiceFiscale" class="btn btn-vet btn-vet-dettagli">Dettagli/Visite</a>
                    <a asp-action="Delete" asp-route-id="@item.CodiceFiscale" class="btn btn-vet btn-vet-elimina">Elimina</a>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>
