@using BW_Clinica_Veterinaria.Models.Entity;
@model List<Ricovero>;

@{
    ViewData["Title"] = "RicoveriMensili";
    List<Ricovero> ricoveriAttivi = new List<Ricovero>();
    var currentMonth = DateTime.Now.Month;
    var currentYear = DateTime.Now.Year;

    foreach (var r in Model)
    {
        if (r.DataFineRicovero == null)
        {
            ricoveriAttivi.Add(r);
        }
    }

    var totale = ViewBag.Totale;
}

<h1 class="text-center mt-5">Visualizza rimborso ricoveri</h1>

<p>Il rimborso viene calcolato sul numero di giorni che ogni animale passa in clinica durante il mese (tariffa giornaliera 5 &euro;)</p>
<p id="rimborso-ricoveri" class="lead text-success">@totale &euro;</p>

<h6 class="mt-4">Ricoveri attivi</h6>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id Ricovero</th>
                <th>Data di ricovero</th>
                <th>Data di fine ricovero</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>Specie</th>
                <th>Colore</th>
                <th>Codice microchip</th>
                <th class="text-center">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in ricoveriAttivi)
            {
                <tr>
                    <td>@r.IdRicovero</td>
                    <td>@r.DataRicovero.ToString("dd/MM/yyyy")</td>
                    <td>@(r.DataFineRicovero.HasValue ? r.DataFineRicovero.Value.ToString("dd/MM/yyyy") : "Ricovero Attivo")</td>
                    <td><img src="@r.Foto" alt="img ricovero" class="img-ricovero img-thumbnail" /></td>
                    <td>@r.Animale.Name</td>
                    <td>@r.Animale.Tipologia</td>
                    <td>@r.Animale.Colore</td>
                    <td>@r.Animale.MicroChipCodice</td>
                    <td class="text-center">
                        <a asp-action="ModificaRicovero" asp-route-id="@r.IdRicovero" class="btn btn-vet btn-vet-elimina">Termina</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
