@model IEnumerable<BW_Clinica_Veterinaria.Models.Entity.Visita>

@{
    var animale = ViewBag.Animale as BW_Clinica_Veterinaria.Models.Entity.Animale;
    ViewData["Title"] = "Cronistoria Visite";
}

<h2>Cronistoria Visite per @animale.Name</h2>

<div>
    <h4>Dettagli Animale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@animale.Name</dd>
        <dt class="col-sm-2">Tipologia</dt>
        <dd class="col-sm-10">@animale.Tipologia</dd>
        <dt class="col-sm-2">Colore</dt>
        <dd class="col-sm-10">@animale.Colore</dd>
        <dt class="col-sm-2">Microchip</dt>
        <dd class="col-sm-10">@animale.MicroChipCodice</dd>
    </dl>
</div>

<h4>Visite</h4>
<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Esame</th>
            <th>Cura Prescritta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visita in Model)
        {
            <tr>
                <td>@visita.Data.ToString("dd/MM/yyyy")</td>
                <td>@visita.Esame</td>
                <td>@visita.CuraPrescritta</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Proprietari" asp-action="Index" class="btn btn-secondary">Torna alla Lista Proprietari</a>
    <a asp-action="AggiungiVisita" asp-route-idAnimale="@animale.IdAnimale" class="btn btn-primary">Aggiungi Visita</a>
</div>
