@model BW_Clinica_Veterinaria.Models.Entity.Ditta

@{
    ViewData["Title"] = "Dettagli - " + Model.Nome;
}

<h1>@Model.Nome</h1>

<div>
    <h4>Dettagli</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recapito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recapito)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDitta" class="btn btn-warning">Modifica</a> |
    <a asp-action="Index" class="btn btn-secondary">Torna all'elenco</a>
</div>
