@model IEnumerable<BW_Clinica_Veterinaria.Models.Entity.Ditta>

@{
    ViewData["Title"] = "Ditte";
}

<h1 class="text-center">Ditte</h1>

<p>
    <a asp-action="Create" class="btn btn-vet btn-vet-dettagli mb-3">Aggiungi una nuova ditta</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Recapito)</th>
                <th class="text-center">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Recapito)</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.IdDitta" class="btn btn-vet btn-vet-modifica">Modifica</a>
                        <a asp-action="Details" asp-route-id="@item.IdDitta" class="btn btn-vet btn-vet-dettagli">Dettagli</a>
                        <a asp-action="Delete" asp-route-id="@item.IdDitta" class="btn btn-vet btn-vet-elimina">Elimina</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
